.billing-info {
    margin-top: 50px;
    .form-container {
        Input {
            margin-bottom: 30px;
        }
        .custom-select {
            display: flex;
            flex-direction: column;
            gap: 12px;
            label {
                font-family: 'Product Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
            }
            select {
                margin-bottom: 30px;
                height: 44px;
                // width: 160px;
                outline: none;
                border: none;
                border: 1px solid #4E598C;
                border-radius: 10px;
                padding: 10px 20px 10px 20px;
            }
        }
        .card-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .input-one Input{
                width: 250px;
            }
            .input-two Input {
                width: 110px;
            }
            .input-three Input {
                width: 75px;
            }
        }
        .button {
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 70px;
            margin-top: 50px;
            Button {
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }
}