.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 70px; */
  padding-top: 70px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right bottom, rgba(242, 153, 74, 0.2) 50%, rgba(242, 201, 76, 0.2) 50.3%);
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: .3s linear;
}