@font-face {
  font-family: "Product Sans";
  src: url("./fonts/Product\ Sans\ Regular.ttf");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Product Sans;
}
